<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CustomSuite">
    <suite-files>
        <suite-file path="login-test-Firefox.xml"/>
        <suite-file path="login-test_Chrome.xml"/>
        <suite-file path="main-page-test-Firefox.xml"/>
        <suite-file path="main-page-test-Chrome.xml"/>
    </suite-files>
</suite>